name: Docker Image CI

on:
  pull:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

    stage:
      description: 'test-flow'
      required: true
      default: 'plan'
      type: choice
      options:
      - plan
      - apply
jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image
      run: npm install
